*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monserrat", sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    height: 5rem;
    background-color: #e6d5f7;
    box-shadow: 0 0 10px;
}
.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;

}
.nav-list li a{
    text-decoration: none;
    color: #731486;
}

.logo {
   max-width: 4rem;
}
main, .cookie-style {
    width: 90%;
    margin: auto;
    padding: 1rem 2rem;
    font-family: sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
    border-radius: 50px;
    box-shadow: 0 0 10px;
    margin-bottom: 20px;
    margin-top: 100px;
}
.imagen-web {
    display: block;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}
.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: "Monserrat", sans-serif;
    min-width: 300px;
}
.table th, .table td {
border: 1px solid #ccc;
padding: 10px;
}
.table thead {
    background-color: #eee;
}
.table img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px #333 ;
}
.table-contenedor {
    overflow-x: auto;

}
.form {
width: 100%;
max-width: 600px;
margin: 2rem auto;
padding: 2rem;
background-color: #e6d5f7;
border-radius: 10%;
box-shadow: 0 0 5px;
font-family: "monserrat", sans-serif;
}
.form label {
 display: block;
 margin-bottom: 0.5rem;
font-size: 1rem;
}
.form input:focus, .form textarea:focus {
background-color: #d5a6df;
color: rgb(0, 0, 0);
padding: 0.8rem 0.5rem;
border: none;
border-radius: 10px;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.5s ease;
}
.form button {
     background-color: white;
     color: rgb(0, 0, 0);
     border-radius: 5px;
     padding: 0.5rem 1rem;
     border: none;
     font-size: 1rem;
     font-weight: 600;
     cursor: pointer;
     box-shadow: 0 1px 3px;
}
.form button:hover{
    background-color: #ead1f5;
    color: rgb(186, 0, 223);
}
.form button:active {
    transform: scale(0.9);
    box-shadow: 0 6px 9px;
}
.abrir {
    display: none;
}
.cerrar{
    display: none;
}
.footer{
    background-color:#e6d5f7;
    display: flex;
    box-shadow: 0 0 10px;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.footer-logo img{
    max-width: 5rem;
    margin-top: 2rem;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: .5rem;
margin-bottom: 1.5rem;
}
.footer-links h3{
    color: #57446b;
   
}
.footer-links p strong a{
    color: gray;
    text-decoration: none;
   
}
.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.footer-links p{
    display: flex;
}
.footer-links ul li a{
   text-decoration: none;
   color: gray;
  
}
.footer-suscribe{
    color: #57446b;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}
.footer-suscribe input{
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    width: auto;
    margin: 0 auto;
}
.footer-suscribe button{
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    width: auto;
    margin: 0 auto;
    background-color: #d5a6df;
    color:#333;
}
.footer-suscribe button:hover{
background-color: #57446b;
color: white;
cursor: pointer;
}
.footer-rs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer-rs a i{
    color: #333;
}
.copy{
    color:#333;
}
.footer-copy{
    text-align: center;
    background-color: #e6d5f7;
    padding-bottom: 1rem;
   
}
.cookies {
    display: flex;
    background-color: #752fbbe6;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
    position: fixed;
    bottom: 40%;
    left: 5%;
    right: 5%;
    padding: 1rem 1.5rem;
    z-index: 9999;
    flex-direction: column;
    gap: 1rem;
    color: #ccc;
}
.aceptar, .rechazar{
    background-color:#731486;
    color: white;
    border-radius: 8px;
    padding: .3rem .5rem;
    box-shadow: 0 4px 8px rgb(0, 0, 0, .5);
    width: 40%;
    border: none;
    margin: 0 auto;
}
.aceptar{
    background-color: #9816e4;
}
.cookies button:hover{
    cursor: pointer;
    background-color: #b231fd;
    transition: all 0.5s ease;
}
.cookies a{
    text-decoration: none;
    color: #f9f9f9;
    background-color: #5f117e;
    border-radius: 30px;
    width: 40%;
    margin: 0 auto;
    
}
@media screen and (max-width: 768px){
    .abrir {
        display: block;
        background-color: transparent;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
        color: #752fbb;
    }
    .cerrar{
        background-color: transparent;
        border: 0;
        font-size: 1.5rem;
        cursor: pointer;
        color:white;
        display: block;
        align-self: flex-end;

    }
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color:#752fbb;
        padding: 2rem;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
        width: 50%;
        gap: 2rem;
        transition: 0.3s ease;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a{
        color: white;
    }
    .footer{
    background-color:#e6d5f7;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px;
    gap: 1rem;
    padding: 1rem;
}
.footer-logo img{
    max-width: 4rem;
    margin-top: .5rem;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer-links h3{
    color: #57446b;
   
}
.footer-links p strong a{
    color: gray;
    text-decoration: none;
   
}
.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer-links ul li a{
   text-decoration: none;
   color: gray;
}
.footer-suscribe{
    color: #57446b;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer-suscribe input{
    padding: .5rem 5rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
}
.footer-suscribe button{
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: #d5a6df;
    color:#333;
}
.footer-suscribe button:hover{
background-color: #57446b;
color: white;
cursor: pointer;
}
.footer-rs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer-rs a i{
    color: #333;
}
.copy{
    color:#333;
}
.footer-copy{
    padding-bottom: 1rem;
}
.footer p,
.footer h3,
.footer ul,
.footer form {
    margin: 0;
}

}
