*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 100px;
    overflow-x: hidden;
}
.nav-bar {
    background-color: rgb(226, 193, 236);
    box-shadow: 0 2px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 70px;
    font-family: "Monserrat", sans-serif;
    letter-spacing: 2px;
}
.nav-link{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.nav-link a{
    text-decoration: none;
    color: rgb(132, 0, 255);
    font-weight: 600;
    transition: color 0.5s ease;
}
.nav-link a:hover{
    color: rgb(129, 7, 167);
}
.logo img{
    height: 50px;
    width: auto;
    border-radius: 50%;
    object-fit: contain;
    display: block;
}
main {
    width: 90%;
    margin: auto;
    padding: 1rem 2rem;
    font-family: sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
    border-radius: 50px;
    box-shadow: 0 0 10px;
    margin-bottom: 20px;
}
.imagen-web {
    display: block;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}
.footer {
    background-color: rgb(226, 193, 236);
    padding: 10px 20px;
    text-align: center;
}
.icono-red{
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
}
.footer a:hover .icono-red {
    filter: grayscale(0%);
    transform: scale(1.2);
}
.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: "Monserrat", sans-serif;
    min-width: 300px;
}
.table th, .table td {
border: 1px solid #ccc;
padding: 10px;
}
.table thead {
    background-color: #eee;
}
.table img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px #333 ;
}
.table-contenedor {
    overflow-x: auto;

}
.form {
width: 100%;
max-width: 600px;
margin: 2rem auto;
padding: 2rem;
background-color: #f5e0fa;
border-radius: 10%;
box-shadow: 0 0 5px;
font-family: "monserrat", sans-serif;
}
.form label {
 display: block;
 margin-bottom: 0.5rem;
font-size: 1rem;
}
.form input:focus, .form textarea:focus {
background-color: #d5a6df;
color: rgb(0, 0, 0);
padding: 0.8rem 0.5rem;
border: none;
border-radius: 10px;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.5s ease;
}
.form button {
     background-color: white;
     color: rgb(0, 0, 0);
     border-radius: 5px;
     padding: 0.5rem 1rem;
     border: none;
     font-size: 1rem;
     font-weight: 600;
     cursor: pointer;
     box-shadow: 0 1px 3px;
}
.form button:hover{
    background-color: #ead1f5;
    color: rgb(186, 0, 223);
}
.form button:active {
    transform: scale(0.9);
    box-shadow: 0 6px 9px;
}